<body>
    <nav class="navbar navbar-light bg-light" id="nav">
        <img src="/img/tp-logo.svg">
        <span> powered by <img src="/img/sw-logo.png" id="sw-logo"></span>
        <!-- <span class="navbar-brand mb-0 h1">Gran Paraiso </span> -->
        <input type="button" value="Reiniciar" class="btn btn-warning" id="reset"> </input>
    </nav>

    <div class="grid">
        <div class="row">
            <div class="col-sm">
                <canvas id="canvas1"></canvas>
            </div>
            <div class="col-sm">
                <canvas id="canvas2"></canvas>
            </div>
            <div class="col-sm">
                <canvas id="canvas3"></canvas>
            </div>
            <div class="col-sm">
                <canvas id="canvas4"></canvas>
            </div>
            <div class="col-sm">
                <canvas id="canvas5"></canvas>
            </div>
            <div class="col-sm">
                <canvas id="canvas6"></canvas>
            </div>
        </div>
    </div>
</body>