<body>
    <nav class="navbar navbar-light bg-light" id="nav">
        <img src="/img/tp-logo.svg">
        <span> powered by <img src="/img/sw-logo.png" id="sw-logo"></span>
        <!-- <span class="navbar-brand mb-0 h1">Gran Paraiso </span> -->
        <input type="button" value="Reiniciar" class="btn btn-warning" id="reset"> </input>
    </nav>

    <div id="grid" class="grid">
        <div id="camaras" class="row">

        </div>
    </div>
</body>