body {
    background-color: #4acad6;
}
.container {

margin: 5 5 0 0 ;
padding: 5 5 5 0 ;
text-align: center;
}
canvas {
    max-height: 45vh;
    border-radius: 5px;
    height: 45vh;

}
#nav {
    margin-bottom: 10px;
}
#sw-logo {
    max-width: 100px;
}
@media (max-width: 897px) {
    canvas {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10px;
        max-width: 100vw;
        max-height: 100%;
        height: 100%;
    
    }

    .col-sm { 
        padding-bottom: 10px;
    }
  }